////
///     Created by Davide on 11/25/17.
////

.bullet {
    display: inline-block;
    border: none;
    border-radius: 50%;
    height: map-get($bullets, size);
    width: map-get($bullets, size);
    margin: map-get($bullets, spacing);
    background: $gray;

    &.current {
        background: $brand-primary;
    }
}
