<main class="chatbot-initial">
    What the fuck are you doing here?

    {{# input}}
        {{> molecules-icon-text-input }}
    {{/ input }}

    {{# button }}
        {{> atoms-button }}
    {{/ button }}
</main>
