////
///     Created by Davide on 11/25/17.
////

.slide {
    $padding: get-slider(slide, padding);
    $bullets-height: get-slider(bullets, size)
            + get-slider(bullets, spacing) * 2;

    padding: $padding;
    padding-bottom: $padding + $bullets-height;
    height: 100%;
}
