////
///     Created by Davide on 11/25/17.
////

.slide {
    $padding: get-slider(slide, padding);
    $bullets-height: get-slider(bullets, size)
            + get-slider(bullets, spacing) * 2;

    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: $padding;
    padding-bottom: $padding + $bullets-height;
    height: 100%;

    .basic-button.centered {
        margin-top: 1rem;
    }
}
