////
///     Created by Davide on 11/25/17.
////

.slider {
    position: relative;

    &,
    & > :first-child,
    & .react-swipeable-view-container {
        height: 100%;
    }

    @for $k from 1 through get-slider(slides-count) {
        &.selected-#{$k} {
            .bullets-wrapper .bullet:nth-child(#{$k}) {
                @extend .current;
            }
        }
    }

    .bullets-wrapper {
        position: absolute;
        right: 0;
        bottom: get-slider(slide, padding);
        left: 0;
        text-align: center;
    }
}
