////
///     Created by Davide on 11/25/17.
////

.slider {
    position: relative;
    height: 100%;

    @each $k in 1 2 3 {
        &.selected-#{$k} {
            .bullets-wrapper .bullet:nth-child(#{$k}) {
                @extend .current;
            }
        }
    }

    .bullets-wrapper {
        position: absolute;
        right: 0;
        bottom: $slide-padding;
        left: 0;
        text-align: center;
    }
}
